@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PAUL</h1>
    <h3>Panier AUtonome intelLigent</h3>
    <p>PAUL est une plateforme conçu pour les épiceries. Il s'agit d'un robot capable de se déplacer de façon autonome et de prendre des items à 
    l'aide d'un système de préhension. Grâce à ses différents capteurs, PAUL peut côtoyer les humains de façon sécuritaire et s'adapter aux différentes épiceries.</p>
    <img src="Images/equipe.jpg" width="100%">
    @*<h2><a href="~/Robot/Index">Test ROS</a></h2>*@
</div>
